[2021-12-20 20:19] anderspitman commented on #110
Going to close this for now, since conversation has mostly moved to #113.

[2021-12-20 20:19] #110 closed

[2021-12-20 20:20] anderspitman commented on #100
Closing for now. @L1so feel free to reopen if necessary.

[2021-12-20 20:20] #100 closed

[2021-12-20 20:23] anderspitman commented on #60
Going to close this for now. Feel free to reopen.

[2021-12-20 20:23] #60 closed

[2021-12-20 21:24] anderspitman commented on #114
Thanks @mholt, sounds pretty much as I suspected. One point of clarification, by "direct port forwarding" do you mean handling the tunneling directly in boringproxy, as opposed to letting OpenSSH handle the tunnels and dialing into them from boringproxy, which is what we currently do?

[2021-12-20 21:56] hongyi-zhao commented on #113
Yes. I use [dnspod](https://github.com/libdns/dnspod).

[2021-12-20 22:05] hongyi-zhao commented on #113
[code]

[2021-12-20 22:15] anderspitman commented on #113
Oh right. Install inkscape and run scripts/generate_logo.sh

[2021-12-20 22:19] anderspitman commented on #113
You could also just put any PNG file at logo.png.

[2021-12-20 22:44] hongyi-zhao commented on #113
[code]

[2021-12-20 23:22] anderspitman commented on #113
Yeah, as I said you'd have to get the certs manually (with certbot) then put them in the location/format required by certmagic. It's probably not worth going through that trouble. I may be able to put together something for doing DNS challenges. Might not be right away though. I'll let you know.

[2021-12-21 00:09] mholt commented on #114
By port forwarding, I mean having your OS or a router forward all packets from one port to another, there's no interception or interpretation of them. Comes in one port, goes out to another. If you have a transport-level proxy like a TCP/UDP proxy, then you'll be receiving packets, decoding them, and creating new ones to forward them on. You'll have to drop to a lower layer that typically the OS h

[2021-12-21 04:44] anderspitman commented on #113
Ok @hongyi-zhao. I think that this may eventually be something that we'll have a better solution for, but I don't think it will be for a while. In the mean time, I hacked together a quick program that might solve your problem:

https://github.com/anderspitman/certgrabber

certgrabber can use the DNS challenge to get certificates and store them in the proper format in `~/.local/share/certmagic`. Th

[2021-12-21 06:01] hongyi-zhao commented on #113
See the following:
[code]

[2021-12-21 06:03] anderspitman commented on #113
Looks like there's something wrong with your dnspod token. I've never used dnspod sure not sure what it might be. It mentions "login token". Are there different types of tokens maybe?

[2021-12-21 07:31] hongyi-zhao commented on #113
It has two types of API key: Tencent Cloud API key and DNSPod Token, as shown below:

![image](https://user-images.githubusercontent.com/11155854/146889128-7cec73f3-383e-481b-9fbe-560e50649d39.png)

I've created a new DNSPod Token named as test, but still meet the same problem.

[2021-12-22 23:18] pmorch opened #119 "SSL error from https://demo-signup.boringproxy.io/request"
Tried with both Firefox and Chrome and on both Windows inside a restrictive firewall and on my own home Linux box with just NAT.

When I tried to enter my email address in the signup form on https://boringproxy.io/, I'm shown this in Firefox:

![image](https://user-images.githubusercontent.com/159292/147165355-e3fb5ffe-cf3e-4388-b9a1-a8b0dafd80be.png)

If you've read this far, I'd like to know if

[2021-12-23 07:40] anderspitman commented on #119
Hey @pmorch. I had shut down the demo site for a while since I was concerned about abuse, but I just started it back up since I'm not sure it was actually a problem.

You are correct that port 22 is required for outgoing, unfortunately. Eventually I'd like to implement a tunneling scheme that can all be done over 443, but that probably won't be for quite a while. If you can't get IT to allow 22, I

[2021-12-23 07:44] anderspitman commented on #113
Sorry I missed the notification for your last message. It looks like your DNS isn't properly configured. I have no idea how you would fix this, other than contacting dnspod and asking why there doesn't appear to be any SOA for the domain.

[2021-12-23 07:45] anderspitman commented on #114
Ah yeah that makes sense. Thanks again.

[2021-12-23 08:34] pmorch commented on #119
@anderspitman, I can confirm that there no longer are any SSL problems.

I can't get IT to allow 22 - trust me, I've tried. About the option to let me configure the SSH port, that would be required for both client and server, I'm guessing. And while that would definitely solve our our use case, do it when and if it makes sense for you. If I could ask something it would be that you document the req

[2021-12-23 08:34] #119 closed

[2021-12-23 09:29] hongyi-zhao commented on #113
I don't quite understand the meaning of this item. Please see the query results below:
[code]

[2021-12-23 10:36] satnair opened #120 "Getting this error"
BoreTunnel error:  Failed to dial: %!(EXTRA *errors.errorString=ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain)

[2021-12-23 20:55] anderspitman commented on #113
Honestly I don't know enough about `dig` to know what the issue is. Since certgrabber is just a very thin wrapper around [certmagic](https://github.com/caddyserver/certmagic), they might have a better idea what that error means.

[2021-12-23 20:56] anderspitman commented on #120
Hi @satnair, can you describe more about your setup?

* What version of boringproxy are you using?
* Are you self-hosting or using the demo server?
* Was it working before?

[2021-12-23 21:27] anderspitman opened #121 "Document that ports 80, 443, and 22 are required by default"

[2021-12-23 21:30] anderspitman commented on #119
Thanks @pmorch. I'm not familiar with Fortinet. Is that part of your home ISP, your work setup, or something else?

I probably won't change the default port on the demo server, since it's just for trying out boringproxy and not meant as a free tunneling service. But if you decide to self-host on a VPS I'm happy to help you get it working.

[2021-12-23 21:30] anderspitman commented on #119
I opened #121 to track improving the docs for required ports.

[2021-12-24 01:06] hongyi-zhao commented on #113
I've given a glimpse of the usage of [certmagic](https://github.com/caddyserver/certmagic), and it seems that it's a go library instead of command line tool, so I don't know how to test it.

[2021-12-24 03:48] pmorch commented on #119
It is our company's IT department that uses a Fortinet firewall. (I think it is a whole suite of things, including a VPN solution). It blocks certain URLs, it blocks everything outgoing except ports 80 and 443, it contains a virus scanner, and likely more that I haven't yet discovered.

[2021-12-24 05:29] anderspitman commented on #119
Gotcha, thanks!

[2021-12-24 05:57] satnair commented on #120
I am using the latest . I believe 0.6. I am hosting it on rasp.I created a server and that was fine. In the rasp client where Nextcloud is installed, I am getting this error.

Rasp is running linux server 20. Please help.

[2021-12-24 07:43] anderspitman commented on #120
Where are you running the boringproxy server? On the rpi?

[2021-12-27 05:00] satnair commented on #120
I am running the boring proxy server in Lightsail ubuntu instance. The client is on Rasp pi.

[2021-12-27 23:34] vRobM commented on #61
Not sure if you're aware or not, but Cloudron.io is a more mature version for self-hosting apps which are actively maintained. Many use it at home behind a NAT as well as in VPS from. Good forum community as well.

[2021-12-28 04:55] anderspitman commented on #61
Thanks @vRobM. Cloudron.io is super cool. I've been tempted to run it myself. The main issue is that it isn't open source. Not a problem for everyone, but I see less of a point of self-hosting if you're using closed software that you have no control over. I wish https://sandstorm.io/ were more successful.

[2021-12-28 04:59] anderspitman commented on #120
Are you sure you have a recent version of OpenSSH server running on the server? Here's an older issue where someone was trying to get it running on Lightsail: https://github.com/boringproxy/boringproxy/issues/97

Might be some useful information there.

For what it's worth, I'm currently in the process of spec'ing out a new tunneling protocol that wouldn't require SSH. Not sure if I'll be doing it

[2021-12-28 05:55] vRobM commented on #61
The message was more for @lightnin but I am happy to address your concerns as well.

The OSS aspect is not an issue as it was open, but had to close for various reasons. That does not mean it is controlled by a corporation. In fact not much has changed at all. Many members of the community have commit rights and it's just like any other project hosted on Gitlab.

All the apps that are made availab

[2021-12-28 19:50] anderspitman commented on #61
What reasons? I'd be interested in reading about what happened.

The problem is that this can change at any moment. Without a true open source codebase, ultimately the code owners are in control.

I agree this is great. Maybe sandstorm wasn't sustainable. If the choice is between something like this being closed or not existing, I'm still glad it exists. But I personally avoid trying myself to com

[2021-12-28 19:56] vRobM commented on #61
It's detailed on their forum. Use the search terms "cloudron open source"

[2021-12-30 12:40] chernesk opened #122 ""Latest" download link"
In the interest of always having the latest version of this software, it would be great if there was a "latest" link for each of the builds that would always get the newest release. Without that, it's necessary to go to the releases page and parse the latest version number and download what is needed.

For automated updates, especially for security updates, it would be nice to have a link similar

[2021-12-30 19:07] anderspitman commented on #122
I agree. If I'm reading these correctly:

https://docs.github.com/en/repositories/releasing-projects-on-github/linking-to-releases

https://github.community/t/why-last-release-is-not-marked-as-latest-release/421

It should be possible to link directly to the latest release, but isn't currently working because I'm creating the tags manually. For the next release (coming very soon), I'll see if I ca

[2021-12-30 19:11] anderspitman commented on #113
Not sure what you mean exactly. The error being displayed is directly from certmagic. If you show it to them and link back to this issue they might be able to give some clues about the underlying issue.

[2021-12-30 22:13] hongyi-zhao commented on #113
Thank you for your clarification. I mean, I still can't figure out how to test with certmagic under command line instead of programmatically by written go code snippet.

[2021-12-31 00:24] anderspitman commented on #113
You don't need to test certmagic. You just need to find out what that specific error is about, then we can decide where to go from there.

[2021-12-31 01:01] hongyi-zhao commented on #113
I have filed an issue here[](https://github.com/caddyserver/certmagic/issues/161), as you may have noticed.

[2021-12-31 15:47] coder-free opened #123 "Is there has anyway to do not use https and assign a port ?"
I want to start boringproxy with out https. Because my server has an nginx running. Nginx used the port 80 and 443. So I want start boringproxy as server that over port may not 80 or 443 (like port 8888).

Then the request path is:

browser -> my vps( nginx -> boringproxy) -> my local server

Is there has anyway to do it.

My vps has some other service running. These service need nginx.

[2021-12-31 17:59] chernesk commented on #122
Thank you SO much. Really appreciate all of your work!

[2021-12-31 18:02] chernesk commented on #16
Is there anything that I can do to help this become a reality? I'm glad to help with code if you point me in the right direction. I'm also glad, within reason, to help financially.

This feature would be a great addition to my workflow.

[2021-12-31 20:00] anderspitman commented on #16
Thanks for offering @chernesk. I'm currently prepping for the next release of boringproxy. This one's going to be huge and I'm really excited about it. So I probably won't have time to look into websockets support until after that, so at least a week or two out.

If someone is really bored, there may be a workaround worth trying. If the upstream service (ie Home Assistant) supports the ACME (ie Le

[2021-12-31 20:07] anderspitman commented on #123
Hey @coder-free, the next version of boringproxy has some support for HTTP using the `-allow-http` flag, though it might not work in every case. You'll also be able to set `-http-port` and `-https-port`. I'm planning to release in the next few days.

That said, it might be worth considering if you actually need 2 layers of reverse proxies. See the discussion in #105.

[2021-12-31 20:13] anderspitman commented on #16
Ah yes I'm remembering the reason it requires this special dance is because WebSockets use "hop-by-hop" headers, which means we have to manually forward the request:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Protocol_upgrade_mechanism

[2021-12-31 20:21] anderspitman opened #124 "Ensure we are properly handling hop-by-hop headers"
https://book.hacktricks.xyz/pentesting-web/abusing-hop-by-hop-headers

Currently we rather naively copy all headers from the downstream request. I would guess most of the hop-by-hop headers are already correctly being overwritten by Go's HTTP client, but maybe not.

[2021-12-31 20:28] anderspitman opened #125 "X-Forwarded-For security"
Currently we're trusting whatever XFF headers we receive, but a client could set it to obscure their IP from upstream services. May want to at least add a flag to boringproxy to ignore downstream XFF if you know you're not running behind another proxy.

[2021-12-31 21:11] chernesk commented on #16
I'll try the passthrough method and see if that works. If not, I'll take a look at the code to see if I can help (I'm a Java and Ruby developer, so not a seasoned go developer (yet).

My use cases are a work app that I'd really like to be able to use through this mechanism and another personally hosted app  (Tandoor Recipes).

Again, glad to help and/or help test. Looking forward to the big releas

[2022-01-01 07:26] coder-free commented on #123
@anderspitman Hi, In my case, two-layer of reverse proxies is better. I want boringproxy running after nginx.

I has build boringproxy from source. I run command `./boringproxy server -help`.
It show me:
[code]
I run boringproxy with command `./boringproxy server -allow-http -http-port 18888 -https-port 18889 -print-login`. Then I input the domain. Then I input email address. Then I got an error a

[2022-01-01 07:37] anderspitman commented on #123
Ah yeah that makes sense. When I tested this I must have already had the certs locally which is why it didn't fail. I'll need to add a way to completely disable HTTPS.

[2022-01-01 08:27] coder-free commented on #123
If this work is completed, please notify me as soon as possible. I can’t wait to try the boringproxy. This software is very useful for me. Thanks very much.

[2022-01-01 22:23] anderspitman commented on #113
Nice! Any outlying issues?

[2022-01-01 23:03] anderspitman commented on #61
Apparently you have to sign up for an account in order to search? No thanks.

[2022-01-01 23:04] anderspitman commented on #120
Going to close this for now. Feel free to reopen if you have further questions.

[2022-01-01 23:04] #120 closed

[2022-01-01 23:05] anderspitman commented on #16
Sounds good. Let me know how it goes. Thanks @chernesk!

[2022-01-01 23:10] vRobM commented on #61
What's the issue with that?
It's a self-hosted OSS NodeBB forum and you know the issue with spammers and abusers. We deal with them daily.

How else will you participate in the conversation?

Happy New Year

[2022-01-01 23:30] anderspitman commented on #61
I don't currently want to participate in the conversation. I just want to read about their reasons for no longer being open source. If you can't even see those reasons without joining a closed community, that doesn't seem like a great sign to me.

I'm not sure how spammers come into this, unless you're referring to someone abusing their servers by performing many searches. But you could handle tha

[2022-01-01 23:36] anderspitman commented on #123
@coder-free I think I've made the necessary changes. Basically if you change either of the default ports, it displays a warning and should disable automatic certs entirely. Please let me know if this solves your problem.

[2022-01-02 00:15] anderspitman opened #126 "There are some reports of the server not working on windows"
See the demo video: https://www.youtube.com/watch?v=-kACP0X6E-I

[2022-01-02 00:16] anderspitman commented on #126
One obviously problem reported by a user is that the path to authorized_keys is hardcoded to be in ~/.ssh.

[2022-01-02 00:19] anderspitman commented on #126
Actually looking at this it seems like maybe that should work?

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement

Would be easier if a windows Go dev took a look at this. It might be an obvious/simple fix.

[2022-01-02 00:19] vRobM commented on #61
If making an account is too hard, no worries, I will gift you your wish, do the search for you without LMGTFY and hand you the direct link 😄

https://forum.cloudron.io/topic/2862/why-not-make-cloudron-fully-open-source-again

Enjoy!

[2022-01-02 00:34] anderspitman commented on #61
I googled it and there were no links on the first page of results to that forum post. I then tried to search on the forum itself and it was locked. Thanks for the link.

[2022-01-02 00:53] hongyi-zhao commented on #113
Currently, the [vps](https://github.com/boringproxy/boringproxy/issues/113#issuecomment-997316366) has been blocked by ISP, so I can't use it for further testing.

[2022-01-02 03:11] anderspitman commented on #113
Now that you have the certs for certmagic, you should be able to run boringproxy server with those ports, and hopefully it will work. You'll need to build the current master. I just pushed some changes a few hours ago to fix running on different ports. See #123.

[2022-01-02 03:21] hongyi-zhao commented on #113
[code]

[2022-01-02 04:38] anderspitman commented on #113
There's nothing you can do about that at the moment. boringproxy only understands the HTTP-01 and TLS-ALPN-01 ACME challenges, which won't work for you because your ISP is blocking 80/443. So you have to use something like certgrabber to use the DNS-01 challenge.

It's less convenient but probably your only option. Is it at least working?

[2022-01-02 05:31] coder-free commented on #123
Hi, I clone the latest code and build it on my vps and local server.
Then run server on vps with:
[code]
Run client on local server with:
[code]
Config a tunnel on manager web site:
![image](https://user-images.githubusercontent.com/2630290/147867066-c1a36b51-f154-49ee-9306-ea014e12229c.png)

I don’t know what "TLS termination" means. Just use the default value 'Client'.

When I request the url `h

[2022-01-02 05:44] anderspitman commented on #123
So that error specifically has to do with establishing the SSH tunnel. Is your client blocked from outgoing port 22 connections by chance? ie can you SSH from the client to the server VPS normally?

Also, are you using at least OpenSSH server 7.8?

[2022-01-02 06:11] coder-free commented on #123
On my local server, I use command `ssh root@my.domain.com`. It connected to my vps success.

On my vps, I use command `ssh -V`. It show me:
[code]
So, I need upgrade my OpenSSH version?

[2022-01-02 06:15] anderspitman commented on #123
Ahhh yep. Unfortunately it requires a particular SSH feature from 7.8. What version of ubuntu are you on? If the VPS is old definitely be careful about trying to update backported packages.

[2022-01-02 06:18] coder-free commented on #123
My ubuntu version is 18.04

[2022-01-02 06:43] coder-free commented on #123
My local server ssh version is `OpenSSH_8.6p1, LibreSSL 2.8.3`. Do I need to upgrade it?

[2022-01-02 06:48] anderspitman commented on #123
Ok that's not too bad. There should be a way to update to 7.8+. Your local version is fine.

[2022-01-02 07:04] hongyi-zhao commented on #113
I'll report after I try.

[2022-01-02 12:43] coder-free commented on #123
Now openssh version is 8.2, still error:
[code]

![image](https://user-images.githubusercontent.com/2630290/147875987-a1ed6a3b-8ac4-4d00-96a2-267bcc7d5460.png)

I am not sure the ssh is work. I just download `openssh-8.2p1.tar.gz` and :
[code]
Then I reconnected to my vps and run `ssh -V`, it show me:
[code]

[2022-01-02 23:12] anderspitman commented on #123
Did you restart sshd?

`sudo systemctl restart sshd`

[2022-01-02 23:13] anderspitman commented on #123
Also probably use this to confirm it's running the version you think: https://serverfault.com/questions/545555/how-can-i-find-current-ssh-protocol-version-of-the-current-connection

[2022-01-03 00:57] coder-free commented on #123
Yes, I do restart sshd service.

Use ssh -v localhost on my vps. it show me ssh version is 8.2:

![image](https://user-images.githubusercontent.com/2630290/147893491-5edab6aa-018e-44d1-9512-602ac8107bca.png)

[2022-01-03 00:59] coder-free commented on #123
I check more log. My vps still running openssh 7.6.

![image](https://user-images.githubusercontent.com/2630290/147893812-a7aa15c2-b994-4637-b47a-186f5855633a.png)

[2022-01-03 02:22] anderspitman commented on #123
Yeah it sounds like it didn't install the new version properly. You might have to try some different instructions. Or if it's not too difficult, update to a newer VPS with at least Ubuntu 20.04.

[2022-01-03 05:39] coder-free commented on #123
I has upgrade my vps to 20.04.
web site show me :
[code]

And client (my local server command line) show me:
[code]

[2022-01-03 05:42] coder-free commented on #123
That is my local server stoped. I start it now boringproxy work fine for me.

[2022-01-03 06:28] anderspitman commented on #123
So everything is good now?

[2022-01-03 06:34] satnair commented on #120
Sure. Thank you.

On Sun, Jan 2, 2022 at 4:34 AM Anders Pitman ***@***.***>
wrote:

--
Thanks,

Sathyan S

[2022-01-03 06:54] coder-free commented on #123
Yes, thanks very much.

[2022-01-03 07:04] anderspitman commented on #123
Awesome, feel free to reach out if you run into more problems. Also just so you know, I'm going to be moving general support over to the [IndieBits forums](https://forum.indiebits.io/c/boringproxy-support/9), so unless you think you've found a bug, that would be the best place to post in the future. You can log in with your GitHub account.

[2022-01-03 07:04] #123 closed

[2022-01-04 05:48] coder-free opened #127 "after nginx, and the domain not send to client"
Hi, I running boringproxy after nginx. the local server can not get the domain.
Specifically:
VPS:
nginx start on port 80 and 443. running with https.
boringproxy running as server on port 18888. running with http.

local server:
nginx start on port 80. running with http.
and nginx reverse proxy by domain. nginx.conf like this:
[code]
Then no matter which domain name request is used, it will enter

[2022-01-04 16:08] coder-free opened #128 "How to disable the log of boringproxy run as server?"
Too many log like this:
[code]

[2022-01-04 18:17] anderspitman commented on #128
I agree! It's quite annoying. This is due to the polling nature of the clients. I'm leaving it in for now to remind me that I need to create a better synchronization method. I'll probably add an option for long-polling.

If I don't get to this soon, I'll just remove the logging.

[2022-01-04 18:26] anderspitman opened #129 "Implement disabling auto certs on client"

[2022-01-04 18:28] anderspitman commented on #127
Ok I think I understand what you're trying to do. I feel like your setup needs to be simplified, but this is also a good test to potentially fix some bugs in boringproxy, so let's see if we can make it work. Some followup questions:

Given that you're terminating TLS at the nginx server, you definitely don't want to use Client TLS Termination. The client isn't yet updated to support disabling auto

[2022-01-04 18:31] anderspitman commented on #127
I think it looks like this:

[code]

[2022-01-05 12:44] coder-free commented on #127
My nginx config is:

[code]

And I change it to:
[code]

The result has not changed.

[2022-01-05 23:18] anderspitman commented on #122
Hey @chernesk, this should be working for the latest release. For example:

https://github.com/boringproxy/boringproxy/releases/latest/download/boringproxy-linux-x86_64

[2022-01-05 23:18] #122 closed

[2022-01-05 23:19] anderspitman commented on #105
This should be working in the latest release, using `-http-port`, `-https-port`, and `-allow-http`.

[2022-01-05 23:19] #105 closed

[2022-01-05 23:19] anderspitman commented on #42
This should be working in the latest release, using `-http-port`, `-https-port`, and `-allow-http`.

[2022-01-05 23:19] #42 closed

[2022-01-05 23:20] anderspitman commented on #63
This is greatly improve as of v0.8.1. Should be sufficient detail.

[2022-01-05 23:20] #63 closed

[2022-01-05 23:21] anderspitman commented on #127
Don't have time at the moment to test myself, but this might be related to #62.

[2022-01-05 23:22] anderspitman commented on #13
This should be resolved as of release v0.8.1.

[2022-01-05 23:22] #13 closed

[2022-01-05 23:26] chernesk commented on #122
Thank you!

[2022-01-14 22:38] anderspitman opened #131 "Default client-name to something like user@hostname if none is provided"
See https://forum.indiebits.io/t/rereading-documentation-client-arguments-largely-redundant/39

[2022-01-14 22:43] anderspitman commented on #66
So I don't forget this time, the problem is that the API is designed such that the path of the request is `/users/<username>/client`, so the client has to know the username before hand. We could either add an endpoint to use the token to figure out what the user is, or change the API to not require knowing the user on the client.

[2022-01-14 22:46] anderspitman opened #132 "Add opengraph et al"
See: https://forum.indiebits.io/t/rereading-documentation-client-arguments-largely-redundant/39

[2022-01-14 22:48] almereyda commented on #132
Hey, thanks for quickly picking this up!

Wouldn't that rather go into https://github.com/boringproxy/boringproxy.io/issues ?

[2022-01-14 22:50] almereyda commented on #128
Slightly OT: The logging can also lead to interesting insights about the environment one runs the service within. https://forum.indiebits.io/t/trivia-identifying-automated-access-attempts/40

[2022-01-14 23:03] almereyda commented on #64
How can claiming succeed? This can be verified similarly to what Let's Encrypt do:

1. One can provide a certain `_dns` service entry that contains a specific key. (`dns-01` challenge)
2. One can provide a `/.well-known/`-like path (e.g. `/boringproxy.claim` ~) with a file that contains a specific key. (`http-01` challenge)
- Even some flow similar to `tls-01` becomes imaginable, since `certmagic`

[2022-01-14 23:14] almereyda commented on #47
A note about the docs:

https://boringproxy.io/usage/ mentions FQDNs, but does not explain this abbreviation anywhere.

A follow up has been recorded into https://github.com/boringproxy/boringproxy.io/issues/11

[2022-01-14 23:26] almereyda commented on #108
A command that I have used to create the system users needed for the systemd units in https://github.com/boringproxy/boringproxy/tree/master/systemd is:

    useradd -M -r -s /bin/false -c "boringproxy system user" boringproxy

[2022-01-14 23:38] almereyda opened #133 "systemd unit files contain secrets"
The current systemd unit examples contain the secrets directly. It's possible to indirect their provisioning through an `EnvironmentFile`:

[code]

This will load a file in `/etc/default/boringproxy` (for Debian/Ubuntu systems or `/etc/sysconfig/boringproxy` (for RHEL) that contains settings for

[code]

This could be applied similarly for the server unit. Please note that the shell binary needs t

[2022-01-15 19:06] anderspitman commented on #132
Ah yes you are correct.

[2022-01-15 19:06] #132 closed

[2022-01-15 19:18] anderspitman commented on #64
I think claiming could actually be pretty simple. Just first-come-first-serve in the database. Basically the concern is on a multi-tenant boringproxy instance, if someone points their DNS at the server, another user could claim the domain before the actual domain owner does. In practice I don't think there are many multi-tenant boringproxy deployments out there, and those that exist are probably p

[2022-01-15 19:22] anderspitman commented on #64
And yeah I think it would be good to add DNS checks to verify that the expected domains are pointing at the server. The latest release now checks if the ports are accessible from the internet and issues a warning if not. We could do a similar thing with DNS. Could help people determine exactly why the UI isn't loading.

I also want to add DynDNS functionality at some point. Currently the only way

[2022-01-16 18:02] almereyda commented on #66
How does it work when logging in via the frontend, doesn't it use the API
from a "fat" JavaScript client as well, but is instead a non-JavaScript
application that is rendered on the server, and talks to it directly
through its own, separate endpoints?

On Fri, 14 Jan 2022 at 23:44, Anders Pitman ***@***.***>
wrote:

[2022-01-19 14:03] coder-free opened #134 "Client connection always lost."
Client connection always lost. I must restart my boringproxy client (running on my local server). It won't resume on his own.
After rebooting, it worked fine for about a day and then stopped working again.

log:

[code]

[2022-01-19 19:20] anderspitman commented on #134
Hey @coder-free, can you confirm if this might be a duplicate of #41?

[2022-01-22 06:45] anderspitman commented on #38
I believe this may be fixed in the latest release, as boringproxy now supports plain HTTP. Please let me know if this is not the case.

[2022-01-22 06:45] #38 closed

[2022-01-22 08:01] coder-free commented on #134
Yes, it looks like #41.

[2022-01-22 08:01] #134 closed

[2022-01-22 08:04] coder-free commented on #41
@anderspitman In my issues, just restart the client solved the problem.

[2022-01-22 08:20] anderspitman commented on #41
Thanks @coder-free. I'll see if I can add any sort of heartbeat to check if the tunnel connection is still valid.

[2022-01-22 08:22] anderspitman commented on #41
Once you start seeing the `TLS handshake timeout` errors, do they continue until you restart the client, or do they go away on there own eventually?

[2022-01-22 09:32] 3crow commented on #41
Sorry only noticed this now. My script took care of it and I'd didn't look any further. Plus the script does know what's happening with BP, it just tests the tunnel connection from the Internet side, so I don't have too much for you. I noticed that if the server goes down the client doesn't reconnect. This could be internet dropping or if the server is restarted. I've since rebooted the server and

[2022-01-22 10:45] 3crow commented on #41
Don't know if this helps.
I just rebooted the router that connects my jellyfin
Note: both my tunnels are on mobile 4g connections.

On jellyfin client: using ss -t

before, during and after reboot of router
State Recv-Q Send-Q    Local Address:Port     Peer Address:Port
ESTAB 0      38     jellyfin_lan_ip:56902    boring_p_IP:https
ESTAB 0      0      jellyfin_lan_ip:43910    boring_p_IP:ssh

and

[2022-01-22 11:39] 3crow commented on #41
A quick stop / start of the server service does not create the issue. As soon as the server starts the tunnels are live.
A reboot of the vps does cause the issue

[2022-01-22 11:55] 3crow commented on #83
same issue here.
for time being fixed with

cp authorized_keys authorized_keys.bak
sort authorized_keys   | uniq > authorized_keys

[2022-01-22 12:03] carlostkd commented on #83
Glad to hear it works for you now, if that helps since i run the proxy in another port than 22  over 1000 it runs always flawless.

[2022-01-22 12:14] 3crow commented on #83
Thanks - were is this configured?

in boringproxy_db.json I see "server_port": 22  - can this just be edited?
or is there an option when starting borign proxy?
or does sshd need started on a high port?

As a workaround I've just added a cron job to clear out the keys file each day.

[2022-01-22 13:22] carlostkd commented on #83
Hi, no no
you need to edit the ssh server port on your /etc/ssh/ssh.config or depend your system sshd.conf

then restart:   sudo service sshd restart

afther that start the proxy client and the server like this:

(i changed my boringproxy executable to proxy to be more simple, and less boring )

CLIENT
./proxy client  -server your.server.domain -user admin -token your.token -client-name anyname  &

[2022-01-22 13:40] 3crow commented on #83
@carlostkd Thanks for that. Makes sense now I think about it. Getting off 22 will also slow down the multiple attempts from other large countries!

[2022-01-22 20:11] almereyda commented on #30
The bespoken issue can be found at #51, in case s/o wonders.

[2022-01-23 10:57] 3crow commented on #16
I had tried this before and not got it working - found this via google and gave up.

Anyhow was messing with it again yesterday and couldn't get it working. I'd left tunnel open overnight and by accident connect ed this morning and it worked great.
Using passthrough and the network ip rather than localhost

[2022-01-26 12:16] coder-free commented on #127
@anderspitman Has there been an update on this issue recently?
I don't know if the tunnel can send the host header. I'm wondering if the boringproxy client can send a request with a path, so that the client's nginx can also use the path to forward different requests.
[code]
maybe like this:
![image](https://user-images.githubusercontent.com/2630290/151159924-3e281c0d-aee5-434b-9071-44c55d89c817.pn

[2022-01-27 08:32] coder-free commented on #41
@anderspitman This is full log from I start client to I can't visit my website.
log:
[code]

Normal access is possible at approximately 2022/01/27 01:30. And 2022/01/27 16:30 Found inaccessible.

[2022-01-27 18:21] almereyda commented on #127
When forwarding to multiple services, you can use boringproxy as your reverse proxy and point multiple (sub-)domains to the different upstream servers directly.

It feels like path-based service routing is deprecated in contemporary web service deployments, where routing different services via a subdomain is preferred. Also many services expect to be run at the `/` of a domain, and do not support

[2022-01-27 19:06] anderspitman commented on #41
Thanks for the reports. I'm traveling with bad internet this week but I'll try to dig into this soon. This is a high priority for the project.

[2022-01-27 19:16] anderspitman commented on #127
Thanks @almereyda. I agree with you and would really prefer not to add path-based routing to boringproxy if possible. For one thing there are security implications with cookies being shared between different applications on the same domain. @coder-free do you think you can avoid paths?

[2022-01-27 19:19] anderspitman commented on #62
@almereyda I believe this part at least:

Has been fixed in the last few releases. When using client termination the Golang http.Client was following redirects, rather than returning the 301 response upstream.

[2022-01-28 10:42] coder-free commented on #41
This is another log, I'm not sure if this useful:
[code]
At about 2022/01/28 18:34 I can't access my service.
My current version is (git commit):
 `d0eb966ff64e20f1192255a87b8ae7494d319369`

[2022-01-29 08:29] coder-free commented on #127
@anderspitman @almereyda Paths are not required. I just want a way to distribute my requests to different services on my local server.
I have little internet knowledge. I don't know why the domain not send to client. I'm not sure if it's an nginx problem or a boringproxy problem. Now my request path is `client > nginx(1) > boringserver > boringclient >  nginx(2) > service`. The nginx(1) is require

[2022-01-30 07:20] anderspitman commented on #15
Note it may be possible to avoid the dns-01 challenge by automatically getting certs on first connection for a given subdomain. If we limit it to a reasonable number of subdomains per wildcard that should mitigate DoS issues.

[2022-01-30 07:23] anderspitman commented on #15
I got this idea from certmagic, which may be able to do all the heavy lifting for us:

https://github.com/caddyserver/certmagic#on-demand-tls

[2022-02-01 16:24] dmahmalat opened #135 "Question about Load Balancing"
First off, amazing project. Thanks for developing and maintaining it.

My question is fairly simple: Is it possible to use boringproxy as a load balancer as well as a reverse proxy?

Ideally, I'd like to achieve this:
ENDUSER ----- domain.com  ----- boringproxy server ----- [endpoint 1 | endpoint 2 | ... | endpoint n]
where endpoints are multiple instances of the same app in some different locatio

[2022-02-02 00:43] anderspitman commented on #135
Hey @dmahmalat. Unfortunately boringproxy doesn't currently do any load balancing. This might be a feature I would add in the future, but the project is really focused on self-hosting, which means the main purpose is being easy to use and providing tunneling out of private networks. Most self-hosters looking to run Nextcloud, Jellyfin, etc don't really need load balancing. If you want to explain y

[2022-02-02 00:58] anderspitman commented on #127
Ok in theory this should be working, but in terms of just getting you up and running, is there some reason you can't drop nginx(2)? Other than performance things like caching and compression, boringproxy should have most of the features necessary to act as a reverse proxy in place of nginx.

So it would be:

`client > nginx(1) > boringserver > boringclient > service`

You just need to create a sep

[2022-02-02 00:59] anderspitman commented on #127
If your services are on the same machine, you can proxy them both through a single boringproxy client. If they are running on separate machines, you can run multiple instances of the client, one on each machine.

[2022-02-02 13:53] coder-free commented on #127
Oh, this is my mistake. I thought that a client can only correspond to one tunnel.
Now I don't need to remove nginx2. I just need to make gitlab work on port 81 and nexus on port 82, and then create two tunnels to point to these two ports respectively.
Additional:
The simple proxy to gitlab is proxy to a unix socket. Nginx config like this:
[code]
If I remove nginx2. I need to reconfig gitlab to m

[2022-02-02 13:54] #127 closed

[2022-02-03 12:52] coder-free opened #136 "400: Bad header value for Forwarded"
This error message is not reported by a boringproxy. It reported by nexus service.

My request path:
[code]

I access `http://localserver:8081` or `http://localserver:82`, nexus worked fine.

I access `https://nexus.mydomain.com`, nexus web page show me `net::ERR_ABORTED 400 (Bad Request)`, nexus service show me `400: Bad header value for Forwarded`.

When I remove nginx2, error still exists:
[cod

[2022-02-04 01:56] anderspitman commented on #136
Yeah support for the Forwarded header was tossed in as a side thought. Very likely to be incorrect. I can try to take a look at this. In the mean-time, would it be possible for you to fire up a simple webserver in place of nexus which simply prints out the HTTP headers for each request?

Here's an example of one in python: https://stackoverflow.com/a/12786032/943814

I can make one in go but proba

[2022-02-04 15:15] coder-free commented on #136
I print the headers on my local service:
[code]

My client headers is (test in postman):
![image](https://user-images.githubusercontent.com/2630290/152552711-177a47ac-17b2-47a6-8ed6-4fbdb4e007e9.png)

I think the most suspicious is `Host`.

And `Connection` value is diffrent. Also `Forwarded:[for=127.0.0.1]` and `X-forwarded-for:[127.0.0.1]` I don't quite understand the meaning.

[2022-02-04 15:47] coder-free commented on #136
@anderspitman the tunnel with TLS Termination always set to Server.

I test remove boringproxy. `client > nginx > my service`. the headers print is:
[code]

[2022-02-04 16:08] anderspitman commented on #136
I think we might be getting close. Are you running the boringproxy server and client on the same machine? I've seen issues with that in the past, possibly because of headers.

[2022-02-04 16:10] anderspitman commented on #136
Can you show the other settings for the postman request? Specifically the URL you're making the request to.

[2022-02-04 16:24] coder-free commented on #136
@anderspitman No, boringproxy server run on vps, and client run on my local server.

[2022-02-04 16:35] anderspitman commented on #136
I don't understand you said you removed nginx but I still see it in your comment. Your overall setup is still rather unclear to me.

Also the java exception above indicates an invalid ipv6 value. Is it possible nexus is expecting only ipv6 and boringproxy is using ipv4?

[2022-02-04 16:52] anderspitman commented on #136
**you say you removed boringproxy client

[2022-02-05 06:24] coder-free commented on #136
@anderspitman I say I removed boringproxy (server and client), just use nginx. My test service show headers is:
[code]

When I use boringproxy, my test service show headers is:
[code]

I think you can compare the difference between the two cases and maybe find the problem.

These two cases just use my test service, only print the headers.

[2022-02-05 06:34] coder-free commented on #136
I think this error may have nothing to do with ipv6.

Even if I only access locally using the ip address(like: `http://192.168.1.22:8081`), there is no problem.

[2022-02-07 19:45] dmahmalat commented on #135
Hi there !
Thanks for the reply. Agree that it would open up the door to many more features down the road. I'll definitely look into Caddy.

I have still played around with the boringproxy code to add the functionality for a basic load balancer since it was useful to me and I was curious to see how it was programmed. Feel free to use/change it if you find a use for it too.

Pull request is here:
h

[2022-02-08 18:45] anderspitman commented on #136
Yeah sorry I misread that.

Glad ipv6 is probably ruled out.

[2022-02-08 18:46] anderspitman commented on #136
Ahhhh crap. I think I figured it out.

Any time you're running boringproxy server behind another reverse proxy, you need to add `-behind-proxy`. This is a security feature I added recently to prevent the client spoofing its IP address using headers.

[2022-02-11 11:48] coder-free commented on #136
@anderspitman I print the headers on my test service:
[code]

the `X-forwarded-for` maybe lost `]`.

[2022-02-11 20:10] anderspitman commented on #16
Hey all, it occurred to me that maybe I was overthinking WebSocket support. Rather than implementing a proper hop-by-hop WS proxy in boringproxy, why not just implement raw TLS tunnels and let the upstream server handle the WS upgrade? This has the added huge benefit of supporting any TLS protocol. I've hacked together a basic prototype. Would one of you be willing to test with Home Assistant to v

[2022-02-11 20:18] chernesk commented on #16
I will try to test this tonight or over the weekend.

Really appreciate it!

[2022-02-11 20:34] anderspitman commented on #16
Awesome, thanks! If it works this would definitely be a win-win. boringproxy stays simpler, while adding support for WS and other protocols.

[2022-02-12 23:30] chernesk commented on #16
Trying to download. Getting unauthorized.

[2022-02-13 00:04] anderspitman commented on #16
Weird. I'm on the road. Does this direct link work?

https://files.apitman.com/public/boringproxy/raw-tls/boringproxy-linux-x86_64

[2022-02-13 00:05] anderspitman commented on #16
Let me know if you need a different architecture.

[2022-02-13 06:48] anderspitman commented on #16
Oh if you tried the "Open in Tab" button that won't work. Try the Download button or copy the link directly

[2022-02-14 08:15] coder-free commented on #136
@anderspitman Hi, I print some log from boringproxy

My code is (code start from file `http_proxy.go` line `52`):
[code]

and the log is:
[code]

The problem looks like ipv6 not handle, just like the TODO said.

[2022-02-14 19:21] anderspitman commented on #136
Actually you shouldn't need to build the branch yourself. You can download static executables from here:

https://gemdrive.io/apps/delver/?drive=https://files.apitman.com&path=/public/boringproxy/raw-tls

Click on the file you want, then click "Download". "Open in Tab" is currently broken.

[2022-02-14 21:05] anderspitman opened #141 "Improve security of token system"
At the very least client tokens shouldn't have full access to the user's account. See the discussion here:

https://forum.indiebits.io/t/potential-security-issue-with-frontend-token-autentication/61

[2022-02-15 00:09] alexsanderp commented on #141
Hi @anderspitman!

First I would like to say that I loved this project! ❤️❤️❤️❤️❤️

 I'm using it to configure TCP tunnels on some clients.

I have the same problem, where the token used for the tunnels has access to the web interface, where client can make changes to the registered tunnels.

I would like to know if the idea would be to separate the tokens? Having a token for tunnels and another f

[2022-02-15 00:27] anderspitman commented on #141
Hey @alexsanderp, glad it's useful for you. Yeah basically the idea is to either have 2 completely different types of tokens, or scope the tokens in some way at creation time so you can limit their capabilities. For example, you could limit a token to a specific client or even subdomain. That's probably what I'll try first, and it actually might not be too difficult.

[2022-02-15 02:38] coder-free commented on #136
@anderspitman It now worked fine. thanks.

[2022-02-15 02:38] #136 closed

[2022-02-15 16:09] alexsanderp opened #142 "Change user used for SSH tunnel"
Hi, @anderspitman

I noticed that the keys are generated and added in the /root/.ssh/authorized_keys file with flags allowing only tunnels.

However, if we have a security breach in the SSH protocol, it would be possible for the user to access root.

My suggestion would be to give the option to choose which system user will be used in the tunnel, so we can use a user with less privileges.

[2022-02-15 16:53] anderspitman commented on #142
Whatever user runs the boringproxy server is what will be used for all SSH operations (see [here](https://github.com/boringproxy/boringproxy/blob/23f7a06358aad0e667d741927cdf82fbccc418c6/tunnel_manager.go#L31). I'd definitely recommend using a non-admin boringproxy user. If you're using systemd to run a service, you can set `User` in the unit file.

[2022-02-15 20:41] anderspitman commented on #136
Sounds good, thanks again for your debugging!

[2022-02-16 17:20] anderspitman commented on #16
@chernesk I went ahead and merged the branch into master, and will include it in the next release. I'm fairly confident it works, or at least shouldn't break anything. I'll leave this open until that release comes out and we also know for sure that Home Assistant is working.

[2022-02-16 17:43] WGrobler commented on #16
@anderspitman, I did some quick tests this afternoon. Seems to be working on HA. I'll do some proper tests and give feedback.

Since this is passing TSL to Client, I assume boringproxy is not generating certificates for the domains? We will have to generate certificates on the client server and add it to Home Assistant to allow HTTPS access?

[2022-02-16 18:16] anderspitman commented on #16
Awesome, thanks @WGrobler.

Nope! The boringproxy client takes care of getting the certs and unwrapping it so HA only has to worry about handling the raw TCP, which in this case is a HTTP/1.1 Upgrade request for WebSockets.

[2022-02-16 20:01] anderspitman commented on #141
@WGrobler @alexsanderp I have a branch which adds basic token scoping. The way I implemented it, when you create a token from the web UI, you can choose to scope it to a specific client. If you do, the token will only be usable for operations for that client, which include creating the client and getting tunnels for it. It can't be used for the web UI or any other API functions.

Does this seem li

[2022-02-16 20:02] chernesk commented on #16
Thanks @WGrobler. Life often gets in the way for me. Sorry that I haven't been more help.

This is great news! Thank you so much @WGrobler for testing and @anderspitman for the coding! I think that I actually have a little bit of time right now, so I'll check out my other use cases.

[2022-02-16 20:25] WGrobler commented on #16
I did some more testing. New certificates did not generate on my system, apparently I triggered a rate limiter at Let's Encrypt. Therefore, I can't test certificate generation at this time. Looking at the code, it should work as before.

Using an existing certificate I managed to set up a new instance of Home Assistant over HTTPS.

I'm busy working on a docker branch that included docker-compose f

[2022-02-16 21:26] chernesk commented on #16
That's awesome about the docker work. I'll be using that as well!

[2022-02-17 11:27] matbgn commented on #16
Hi folks,

What an amazing journey till there. So impressive to see you all pushing hard to solve this issue.

If I could add my small contribution, I would mention [Cryptpad](https://github.com/xwiki-labs/cryptpad) as a really powerfull diagnostic app for header policy forwarding and so on with its https://domain.xyz/checkup page.

Cryptpad uses websocket and thanks to your last RAW_TLS package I

[2022-02-17 15:17] WGrobler commented on #141
@alexsanderp, I had a look at the new server you created and have a few questions.

I was able to log into the web UI using the admin token, but if I create a token with no limits for a user, the user is unable to log into the web UI with the token, receiving the error "This token is limited to a specific client and cannot be used for the web UI". Is your idea to have only admins access the web UI

[2022-02-17 15:25] anderspitman commented on #141
Sounds like this is a combination of a couple bugs in my implementation, and some use cases I hadn't considered. I don't have time right at the moment to take another look, but I agree with pretty much everything you're saying and I'll get back to you soon.

[2022-02-17 15:28] anderspitman commented on #16
I agree this type of conformance testing is a great idea. @matbgn please open another issue so we can focus more directly on that.

Also https://domain.xyz/checkup appears to be down.

[2022-02-17 15:57] anderspitman opened #144 "Add CLI argument for enabling Let's Encrypt staging"

[2022-02-17 17:47] anderspitman commented on #141
Ok I've thought a bit more about this. It's a bit complicated because I'm also in the process of designing the OAuth2 protocol, which is closely related.

I think the key change is that client names need to be created in the web UI, either manually (perhaps when creating tokens) or during the OAuth2 flow.

I'm not sure I understand how to properly implement things to handle your deployment case. A

[2022-02-17 19:03] anderspitman commented on #141
The broken login token bug for non-admin users should be fixed. It actually wasn't even working for admin for me.

Current plan is to add a "Clients" page to the UI designed similarly to the Tokens page, and require Clients to be added manually before use.

[2022-02-17 19:08] almereyda commented on #16
This is a page that is intended for use by authenticated CryptPad administrators and might have been an example domain, such as `example.com`, but a little funkyer ^_^ I suspect this domain does not actually exist.

[2022-02-17 19:12] anderspitman commented on #16
Ah ok that makes sense.

[2022-02-17 20:06] matbgn commented on #16
Totally right sorry for the funky `example.com` :smile:

Just a small note to second @WGrobler, new certificates do not generate client system when using client TLS. @anderspitman do you have any recommandation to generate it manually the efficient way?

[2022-02-17 20:23] anderspitman commented on #16
No worries. It's pretty obvious in hindsight haha.

Yeah this looks like a bug with the Client TLS code. Should be an easy fix. I'm in the middle of making some other changes so I'll open an issue to track that.

[2022-02-17 20:23] anderspitman opened #145 "Client doesn't automatically get certs when using client-tls mode"

[2022-02-17 20:23] anderspitman commented on #16
https://github.com/boringproxy/boringproxy/issues/145

[2022-02-17 20:38] anderspitman opened #146 "Delete client-specific tokens if client is deleted"

[2022-02-17 20:59] #145 closed

[2022-02-17 21:37] matbgn commented on #16
Many thanks could you push linux arm64 and linux x86_64 packages on https://gemdrive.io/apps/delver/?drive=https://files.apitman.com&path=/public/boringproxy/raw-tls ?

[2022-02-17 21:58] anderspitman commented on #16
@matbgn since there are now multiple changes on master, use this link:

https://gemdrive.io/apps/delver/?drive=https://files.apitman.com&path=/public/boringproxy/master

[2022-02-17 22:02] anderspitman commented on #141
Alright current status is I've implemented Clients page, and also simplified the API so the user and client-name are no longer needed in every case when running the client, since that information can often be obtained from the token used for the request (see #66).

This is ready for testing whenever you get a chance @WGrobler:

https://gemdrive.io/apps/delver/?drive=https://files.apitman.com&path=

[2022-02-17 22:05] anderspitman commented on #66
@almereyda sorry I missed this comment before. The frontend doesn't have any JavaScript, but also up until today there was no way to add clients from the web UI. See #141.

[2022-02-18 06:27] WGrobler commented on #141
Thanks @anderspitman, I will test today and give feedback

This is a hypothetical use case. I haven't implemented anything at this time. When I opened the original discussion, I wanted to start discussions around changed to ensure that the authentication system is secure but also futureproof, since the project is in beta its a good time to make core changes. I don't think its required to add autom

[2022-02-18 06:28] WGrobler commented on #66
I see you changed it so that username is no longer required to connect. This makes is easier to set up and could be the default since it actually makes client setup easier, but it does lower the authentication strength since you no longer require both the username & token to be an authentication pair.

Since the token has sufficient strength against brute force attacks, I don't think we need an au

[2022-02-18 16:21] MTRNord opened #151 "Allow binding to a specific ipv4 and ipv6 on the server"
Hi,

I wanted to run this on a server where already a kubernetes and a reverse proxy own the port 80 and 443. However, I have another IP for v4 and v6 available which I can use. Boringproxy however, has no obvious way of specif icing what IP it should bind to.

It would be great if that could be added as an advanced feature :)

[2022-02-18 16:34] anderspitman commented on #151
This would be a nice feature. Unfortunately it's a bit tricky because while you can easily specify a single IP to listen on, I'm not aware of any way to listen on a specific IPv4 and IPv6 at the same time. See here:

https://github.com/golang/go/issues/9334

Might need to use some sort of multi-listener:

https://github.com/daniel-garcia/multilistener

[2022-02-18 22:21] matbgn opened #152 "[Feature request] Use another port than 22 for security concern"
Is it feasible to use another port than the 22 for a better security approach ?

[2022-02-19 01:53] anderspitman commented on #152
You should be able to just set `-ssh-server-port` when running the boringproxy server. Obviously it will need to match whatever your OpenSSH server is using.

That said, changing the SSH server port doesn't really give you much extra in the way of security. Bots can still port scan you to see if you have an SSH server running. The main security hole in SSH I'm aware of is using username/password f

[2022-02-19 06:44] WGrobler commented on #66
I agree with @anderspitman, token should be strong enough and not needing to provide it makes the client setup easier.

[2022-02-19 06:46] WGrobler commented on #141
@anderspitman I tried the version you supplied, but keeps getting an error "This token is limited to a specific client and cannot be used for the web UI" when trying to access using the admin token. I deleted the DB to start fresh and it still won't give me access to the web UI

[2022-02-19 06:56] anderspitman commented on #141
It's possible I accidentally linked the wrong files. I just rebuilt and uploaded to be sure.

[2022-02-19 07:36] WGrobler commented on #141
I found the issue,

In [ui_handler.go](https://github.com/boringproxy/boringproxy/blob/limit-tokens/ui_handler.go):92 you check if tokenData.Client is not "", but in [boringproxy.go](https://github.com/boringproxy/boringproxy/blob/limit-tokens/boringproxy.go):136 you create a new admin with `db.AddToken("admin", "any")`.

Either the if statement need to change to look for "any" instead of no-strin

[2022-02-19 07:51] WGrobler commented on #141
By making changes to my boringproxy_db.json to correspond with [ui_handler.go](https://github.com/boringproxy/boringproxy/blob/limit-tokens/ui_handler.go):92, I managed to test the setup.

Its working great, thanks for setting this up. It's a massive security improvement.

The other improvement that resulted from this, is that I an now add a tunnel before even setting up the client. Since the clie

[2022-02-19 11:18] almereyda commented on #152
We regularily shift SSH to non-standard ports, in so this will give you a little performance gain and thus electricity saving for all those automated agents, which *do not* scan for additional ports.

I think boringproxy could run some kind of integration test on bootup, if security is the concern in this issue, to see if password authentication is disabled locally, and exit with an instructive er

[2022-02-19 15:48] anderspitman opened #153 "Order lists by date in web UI"
Currently tokens for example are shown in hash order, which can be really annoying

[2022-02-19 15:53] anderspitman commented on #141
Oh that makes sense! I didn't even test making a fresh DB. This would be a good argument for some automated testing.

Ok I changed that code to create the initial admin token, and it seems to be working for me for a fresh DB. I also removed the login links for client tokens.

Everything is merged into master. I think between this and WebSockets support it's worth cutting a new release.

Thanks eve

[2022-02-19 15:53] anderspitman commented on #141
Going to leave this open until the release lands later today.

[2022-02-19 16:23] anderspitman commented on #142
Going to go ahead and close this. Feel free to reopen if your issue hasn't been resolved.

[2022-02-19 16:23] #142 closed

[2022-02-19 16:23] anderspitman commented on #141
Fixed in v0.9.0.

[2022-02-19 16:23] #141 closed

[2022-02-19 16:24] anderspitman commented on #125
Fixed in v0.9.0, using flag `-behind-proxy`.

[2022-02-19 16:24] #125 closed

[2022-02-19 16:25] anderspitman commented on #124
This is somewhat mitigated in v0.9.0. By using Client TLS tunnels, the raw TCP stream goes all the way to the upstream server. so hop-by-hop is bypassed. Would still be nice to have this for HTTPS tunnels though.

[2022-02-19 16:26] anderspitman commented on #109
Could also first attempt to get the cert on the server, before creating the tunnel.

[2022-02-19 16:27] anderspitman commented on #66
Fixed in v0.9.0.

[2022-02-19 16:27] #66 closed

[2022-02-19 16:27] anderspitman commented on #51
Fixed in v0.9.0.

[2022-02-19 16:27] #51 closed

[2022-02-19 16:28] anderspitman commented on #16
Fixed in v0.9.0!

[2022-02-19 16:28] #16 closed

[2022-02-21 06:11] WGrobler opened #157 "printLoginInfo incorrect for non standard ports"
When using boringproxy server with both -print-login & -https-port flags. The printed output is displaying an incorrect admin login link.
This happens because the printLoginInfo in [boringproxy.go:423](https://github.com/boringproxy/boringproxy/blob/b1eb2cec438b260d0ec804c6d8a53b8815692b9f/boringproxy.go#L423) is unaware of httpsPort.

The printLoginInfo need to be updated to include a check for n

[2022-02-21 06:32] WGrobler opened #158 "No login with admin on HTTP"
When trying to log in to the **admin-domain** on a server with **allow-http**, the login page is displayed correctly, but whenever you enter the correct token, the page redirects to back the login page without any error on the web UI or console.

This happens because the Cookie is set with Secure Flag upon successful authentication ([ui_handler.go:494](https://github.com/boringproxy/boringproxy/bl

[2022-02-21 17:41] anderspitman commented on #158
I agree, HTTP access to the admin domain should be blocked.

[2022-02-21 18:32] anderspitman commented on #157
Your code looks good. Pretty sure that's a proper way to handle this in Golang.

I'm not sure how necessary this is in practice. It doesn't seem like it would be common at all for people to want to run the admin domain on a different HTTPS port. I think you'd either be using boringproxy as your reverse proxy, or if you just want it for the tunneling you'd have it behind another reverse proxy that'

[2022-02-23 14:52] m42e opened #163 "Allow using proxy for ssh connection (sshconfig ProxyCommand)"
It would be nice to have a possibility to use a proxy for the ssh connection (ProxyCommand corkscrew .....,  for example)

[2022-02-23 16:03] anderspitman commented on #163
Hey @m42e, can you give an example of what you're trying to accomplish?

If you want to be able to SSH into machines where the boringproxy client is running, you can follow the instructions here:

https://forum.indiebits.io/t/how-to-forward-ssh-port-example-just-in-time-feature-request/56/5?u=anders

I believe you should be able to use it as a jump host as well.

Note that this approach is a bit c

[2022-02-23 17:07] m42e commented on #163
Sure, @anderspitman.
Sorry of the very brief description.

So sometimes I am in an environment that does only allow connections to the outside world using an http proxy.
I am using corkscrew to do SSH over the http proxy. This is achieved by adding the line

[code]

into the ssh_config file.

So it is still for a connection from the client to the server. To create the tunnel.

[2022-02-23 18:28] anderspitman commented on #163
This is a very interesting use case. Basically for you to be able to use corkscrew, boringproxy would need to implement a standard HTTP proxy (ie using the HTTP CONNECT method). I'm unlikely to implement this.

However, with the way boringproxy currently works, I think it might be easy to support your use case. I believe all you need is a tiny program that listens on a local port, then tunnels any

[2022-02-23 19:33] anderspitman commented on #163
It turned out to be just about as simple as expected! Here's the program:

[2022-02-24 00:33] anderspitman commented on #163
Ok I believe I've fixed the TLS cert bug, but you'll need to use a master build:

https://gemdrive.io/apps/delver/?drive=https://files.apitman.com&path=/public/boringproxy/master

[2022-02-24 05:43] m42e commented on #163
Thanks a lot @anderspitman. Especially I did not want to keep you from  anything important :)

Now I did not get correctly what you explained or I did not manage to explain my scenario exactly. I try again to explain:

![image](https://user-images.githubusercontent.com/2410802/155464749-d9f06b9e-e9f1-4950-a31c-8b4e2f366879.png)

On the PC1, boringproxy client is able to connect to the server using

[2022-02-24 15:40] WGrobler commented on #157
For anyone interested, we had a further discussion surrounding this on [indiebits.io](https://forum.indiebits.io/t/installing-own-certificates-non-standard-ports/67/4).

TL;DR: Using non standard ports is included in boringproxy, but its functionality is limited. Please take note that using it might require some additional setup on your end.

[2022-02-24 15:40] #157 closed

[2022-02-24 15:48] derwaldgeist commented on #34
Got the same problem on macOS

[2022-02-24 17:45] anderspitman commented on #163
Nice diagram! I'm still not sure what the goal is. Are you trying to SSH into PC2 while you're at work, or are you trying to SSH into PC1 while you're at home? Or something else?

No worries about the effort. The raw TLS tunnel is a great feature. In fact I think I'm going to add a new command to boringproxy to support it. Basically it lets you tunnel any TCP program through boringproxy, very simi

[2022-02-24 17:59] anderspitman commented on #34
Hey @derwaldgeist, thanks for the report. Is this happening on the client or server?

[2022-02-24 18:19] m42e commented on #163
Ok, I want to use boringproxy for sharing some html files (using a simple stupid python3 Webserver).

so PC2 shall Access the websites on PC1 using the boringproxy :)

[2022-02-24 18:43] anderspitman commented on #163
Ah yes in that case the client's outgoing ssh connection on port 22 will be blocked. That said, if you can run the boringproxy server OpenSSH server on a different port that isn't blocked (maybe use port 80 for SSH and 443 for HTTPS) you might be able to get through. Someday I'd like to support a protocol that works over HTTP or WebSockets.

[2022-02-24 18:44] anderspitman commented on #163
Also, I've [added](https://github.com/boringproxy/boringproxy/pull/166) the `boringproxy tuntls` command so we can now do raw TLS tunneling. Thanks for the idea!

[2022-02-24 18:45] m42e commented on #163
Ok, I thought there might be a way to use the proxy for ssh, too. Maybe I can dive into go at some point in time.

[2022-02-24 18:48] anderspitman commented on #163
Yeah unfortunately since boringproxy leverages OpenSSH for the heavy lifting, it needs to run on a separate port. Though unless I'm mistaken, corkscrew won't solve your problem either, will it?

Maybe take a look at these:

https://github.com/mmatczuk/go-http-tunnel (HTTP/2)

https://github.com/erebe/wstunnel (WebSockets)

[2022-02-24 18:54] m42e commented on #163
It will and does, the line in corkscrew posted above, tunnels the outgoing ssh connection through the proxy.

[2022-02-24 19:20] anderspitman commented on #163
Ohh I see. You're using corkscrew together with boringproxy.

[2022-02-24 19:22] m42e commented on #163
That was the Idea, to let boringproxys ssh part use corkscrew. At the moment my native ssh client is using it.

Or does boring proxy utilise the ssh executable?

[2022-02-24 19:28] anderspitman commented on #163
No the client uses the Golang ssh client. Unfortunately I don't think this will work without changes to the boringproxy client to tell it how to map the tunnel SSH port to the corkscrew port.

[2022-02-24 19:30] m42e commented on #163
I do not have any experience but I stumbled across https://github.com/appleboy/easyssh-proxy
But I am not sure this is an option for boring proxy. It is fine for me if you say no.

[2022-02-24 19:37] anderspitman opened #167 "Support tunneling client SSH tunnel through TLS"
Sometimes the client needs to run in networks that only allow outgoing connections on ports 80/443. In this case the SSH connections for tunnels (normally port 22) will be blocked.

Now that we have the `tuntls` command, if we implement `Server raw TLS` termination and add a parameter to let the client override the tunnel SSH port, it should be possible to tunnel the tunnels through TLS.

This is

[2022-02-24 19:39] anderspitman commented on #163
Not sure. How are you thinking we might use it?

So, I opened a new issued (https://github.com/boringproxy/boringproxy/issues/167). I think it might take minimal changes to support tunneling the client's SSH connection through TLS, for situations like yours. It's pretty hacky but I'll think on it.

[2022-02-24 21:42] anderspitman commented on #163
@m42e I may have gotten a bit carried away. I think boringproxy master now has everything you need to make this work. It takes a little manual work to set it up. Here's what you need to do:

Set up a tunnel named something like ssh.example.com with the following settings:
* Tunnel Port: 22
* Client Name: No Client
* TLS Termination: Server raw TLS

Then on the client machine, run the following:

`

[2022-02-24 21:43] anderspitman commented on #163
And don't feel bad about the extra work. These features weren't too invasive, and I got to do some nice cleanup in the process.

[2022-02-25 07:20] WGrobler opened #171 "Using environment variables or file instead of flags"
The current version of boringproxy does not include reading configs from a environment variables or a file. A workaround can be used as stated in #133, but this does not allow for setting default variables and overriding with flags.

I've created a new branch [WGrobler:environment-variables](https://github.com/WGrobler/boringproxy/tree/environment-variables) that includes the following features:

[2022-02-25 18:23] anderspitman commented on #171
It's ok to go ahead an open a PR. That lets us use the GitHub UI to see and discuss the changes. The PR will automatically get updated as you push commits to your branch.

That said, I'm hesitant to add configs or environment variables for boringproxy. EVs in particular can cause subtle bugs and security issues. And the boringproxy.io main page advertises no configs as a primary feature.

In my mi

[2022-02-26 16:01] anderspitman commented on #171
Hey @WGrobler, thanks for the detailed response. You bring up some good points. I have answers for some, but need to think about others. I'm traveling and will be rather busy this weekend, so might not be able to get to this until Monday, but I agree we should probably make some changes and seriously consider supporting a simpler/safer argument input system.

[2022-02-26 16:08] anderspitman commented on #171
As a side note, I think this is an important conversation, and it bugs me a little that GitHub essentially owns it. I'd love to have it hosted on my own platform.

I'm curious if you think it's feasible to have discussions like this on forum.indiebits.io? Is there too much friction? Is there anything I can do to make it easier?

I want to encourage people to use the forums rather than GH when poss

[2022-02-27 09:00] WGrobler commented on #171
As it is stated in the original ["About the boringproxy category"](https://forum.indiebits.io/t/about-the-boringproxy-category/15) topic on indiebits.

This thread started as a code discussion and moved towards a discussion goals of the project. If this thread was started as a discussion like ["Potential security issue with Frontend Token Autentication"](https://forum.indiebits.io/t/potential-secu

[2022-02-28 11:43] labeldevops opened #172 "Flag for Disabling Admin Web GUI"
I would rather like to disable the admin web gui - I do not need that 24/7 and no matter how secure your code might be I would like to reduce the potential attack surface by only running the web gui when needed. I did not find any option to disable the gui, so it woud be needed to implement that.

[2022-02-28 17:14] Yorizuka opened #173 "sshuttle support"
First im going to say that I love boringproxy, this project made it finally possible for me to easily self host from home. Out of all the solutions iv tried this was the nicest to use, thank you for freeing me from my ISP's CGNAT & lack of ipv6.

### The problem
But lately iv rant into a big problem and its slowly turning into a show stopper, about a month ago I decided to self host a matrix home

[2022-02-28 21:07] anderspitman commented on #26
IPv6 should be working as of v0.9.0+

[2022-02-28 21:07] #26 closed

[2022-02-28 21:09] anderspitman commented on #172
Hey @labeldevops. This is similar to #103. Would providing an option to control what address the server binds to be sufficient? That way you can bind it to localhost and no remote processes will be able to access it.

[2022-02-28 21:17] anderspitman commented on #173
Hi @Yorizuka, glad boringproxy is working for you.

This is a good discussion to have. I'm trying to move away from GitHub as much as possible. Would you mind copying your post over to [forum.indiebits.io](https://forum.indiebits.io/c/boringproxy/9)? If it's too much trouble that's ok but would prefer that.

Thanks!

[2022-02-28 23:11] Yorizuka commented on #173
Done, https://forum.indiebits.io/t/solving-tcp-over-tcp-slowdown-adding-sshuttle-support/82

[2022-02-28 23:11] #173 closed

[2022-03-01 13:02] WGrobler commented on #172
@anderspitman, I agree that controlling the port that the server binds to will solve this problem and #103 . It might not be necessary to bind it only to 127.0.0.1, it can still bind to 0.0.0.0, if someone wants to limit access from outside they can block external access to the web UI port using the firewall. Or they can create firewall rules to only allow access to that port from a specific IP ad

[2022-03-01 22:44] anderspitman commented on #172
Actually this is probably going to be a bit trickier. The admin UI uses the same port as the tunnels, and uses SNI to route traffic. That means this needs to be done at the TLS level, not the port level. I'm currently working on a new tunneling protocol, which may affect how this is implementing, so I might wait on that before deciding on it.

[2022-03-02 11:51] WGrobler commented on #172
You are right @anderspitman, I forgot that the ports are not passed to http.HandleFunc. This will complicate the different port solution. I agree, lets wait on this, other changes in the pipeline can influence implementation of this.

@labeldevops, if you are interested in how this will work, I've added this with [commit 2e0ff06](https://github.com/WGrobler/boringproxy/commit/b496a8f9390975bdced21

[2022-03-02 14:30] almereyda commented on #171
Two comments regarding conversation spreading over multiple platforms, and reading configuration ("state") from the environment.

1. It appears https://meta.discourse.org/t/discourse-code-review/103142 would be able to link GitHub issues to Discourse, but eventually not the other way round. https://meta.discourse.org/t/bidirectional-sync-between-discourse-topics-categories-and-github-gitlab-issue-

[2022-03-02 18:05] ramon1604 opened #175 "Can not connect from client"
After starting server using Digital Ocean with droplet and ubuntu 20.04, running comand:
./boringproxy-linux-x86_64 server -admin-domain tunnel.ptzcamcenter.com

the clients is a raspberry pi 3b+ and running command:
./boringproxy-linux-arm client -server tunnel.ptzcamcenter.com -user admin -token <token here> -client-name rpi_001

always get:
Failed to create client. Are the user ('admin') and to

[2022-03-02 18:18] ramon1604 commented on #175
the token is prperly placed. we did not include it for security reasons:
-token tokenhere

[2022-03-02 18:28] almereyda commented on #175
Did you try with using specific client tokens? There have been recent changes in using authentication tokens. My PR for updating the documentation is currently hanging a bit, but soon ready.

Try creating a dedicated user and a dedicated token for the desired client. Then you would ideally be able to run the client with something close to:

    boringproxy client -server tunnel.ptzcamcenter.com -t

[2022-03-02 18:31] ramon1604 commented on #175
we will try and let you know. thanks for the help.

[2022-03-02 18:32] almereyda commented on #175
I have updated my comment to be more specific.

[2022-03-02 18:49] ramon1604 commented on #175
created user in GUI: rpi001 and token: MKlUiRrWFLrEuQL0uxkE5lAxFZf01Bhz
comand is: ./boringproxy-linux-arm client -server tunnel.ptzcamcenter.com -token MKlUiRrWFLrEuQL0uxkE5lAxFZf01Bhz -user rp001 -client-name rp001

error is: Failed to create client. Are the user ('rp001') and token correct? HTTP Status code: 404. Message: 404 page not found

[2022-03-02 18:52] ramon1604 commented on #175
can you send me a step by step instructions for server and client as of now. It seems a lot has changed since video in boringproxy.io

[2022-03-02 19:27] ramon1604 commented on #175
it is working with version 0.8.2 not with 0.9.0

[2022-03-02 19:27] #175 closed

[2022-03-02 20:45] anderspitman commented on #175
Hey @ramon1604, glad it's working, but it would be ideal to get this working on the latest release, as the old way of doing things is less secure. If someone gets ahold of your client token they can completely take over the boringproxy account on the server.

If you're willing to try again with the new version, first thing to do is drop the `-user` and `-client-name` from the command line. They're

[2022-03-02 20:46] anderspitman commented on #175
Sorry about the video being out of date. There have definitely been a lot of changes. It's probably time to make a new video. I'm working on some important features right now. Once those are done I'll consider how to get a new video made soon. It may actually be about time for a 1.0 release.

[2022-03-02 21:02] anderspitman commented on #171
You've convinced me that this is worth doing. I haven't made time to review your PR in depth yet.

Basically my thinking is there are 4 sources on input to a program:

1. CLI args
2. Config file
3. Environment variables
4. Program defaults

These should cascade in that order (ie CLI args should override Config file, which should override ENV vars, which should override defaults).

Right now it loo

[2022-03-03 12:34] ramon1604 commented on #175
thanks, everything is working fine. using version 0.8.1

Regards
________________________________
From: jon r ***@***.***>
Sent: Wednesday, March 2, 2022 2:28 PM
To: boringproxy/boringproxy ***@***.***>
Cc: Ramon M Cott ***@***.***>; Author ***@***.***>
Subject: Re: [boringproxy/boringproxy] Can not connect from client (Issue #175)

Did you try with using specific client tokens? There have been re

[2022-03-03 13:47] almereyda commented on #171
I fully agree with the conclusion, that viper comes with too much overhead. From quickly skimming the web for other prior art, I have also come across those more or less maintained packages, which do either only read from environment, or also allow to read from (JSON, YAML, TOML, ...) configuration files, and bring less imports (4-16; godotenv 10, viper 29). From the screening it appears one has t

[2022-03-03 15:11] bodiroga opened #176 "Usage of the REST API"
Hi @anderspitman!

First of all, let me thank you for the work you have done with boringproxy! I've been testing it for the last hours and it is awesome! Thank you very much!

Anyway, I have a doubt about the REST API of the platform. How can I find the documentation of the expected results from the GET methods or the accepted parameters for the POST methods? Making a simple GET call to the /users

[2022-03-03 21:16] anderspitman commented on #176
Hi @bodiroga, currently the API is mostly for internal use, since we're pre-1.0. That's why there's no documentation. That said, you might get pretty far by using `/api/` endpoints, which return JSON. Everything else is for the web UI which is what you hit with`/users`. You can look in this file to get a feel for the available `/api/` endpoints:

https://github.com/boringproxy/boringproxy/blob/2e0

[2022-03-03 21:17] anderspitman commented on #175
Fair enough. Feel free to open a new issue if/when you need to upgrade.

[2022-03-04 12:25] bodiroga commented on #176
Hi @anderspitman!

Thanks for your fast response! 👍🏻

I've tried what you suggested, but I'm only getting results for the **/api/tunnels** endpoint. Is there any way, using the admin access token, to list all available users? And what about clients and tokens? If I try to load https://<my_domain>.takingnames.live/api/users in my web browser, I get the following image:

![image](https://user-images

[2022-03-04 19:06] anderspitman commented on #176
Ah yeah I just checked the code and a lot of the functionality isn't actually implemented yet. But it didn't take very long at add GET support for /api/users and /api/tokens. You can use the master builds if you want to switch to JSON:

https://gemdrive.io/apps/delver/?drive=https://files.apitman.com&path=/public/boringproxy/master

Clients is currently a special case, since clients are scoped und

[2022-03-07 16:23] sharkshead opened #177 "Buffering"
I seem to be having a buffering problem with Boring Proxy. The web sites I'm proxy'ing with BP use a HTML5 EventSource to send a real-time data stream back to the browser. It is not a constant stream of data, just new sensor values that have changed. This might be every 1/2 second for a noisy sensor, or every 30 seconds if the sensor's world is quiet. And multiple sensors send new values over the

[2022-03-07 20:15] anderspitman commented on #177
Hey @sharkshead, thanks for the report. This is an important use case and needs to work. Would it be too much trouble to copy this report over to a new thread on https://forum.indiebits.io/c/boringproxy/9?

I'm trying to move away from GitHub for boringproxy support. You can use your GitHub account to login there.

[2022-03-07 22:29] #177 closed

[2022-03-09 12:23] bodiroga commented on #176
Hi again @anderspitman!

Sorry for the late response, I didn't see the notification for the new message 😢

Sadly, I have create a small python library to easily interact with boringproxy's rest api (https://github.com/bodiroga/boringproxy-python-api), but I'm not using your newly created endpoints. I will try to update it once a new boringproxy version is released 👍🏻

Thank you very much for your

[2022-03-09 22:43] anderspitman commented on #176
Sounds good :+1:

[2022-03-16 16:31] anderspitman commented on #108
Thanks @3crow, this is good information. boringproxy is definitely intended to always run with matching client/server versions, but in general I've tried not to make many changes to the db.json format. When the time comes for 1.0 I'll probably make some breaking changes there, but it should be possible to automatically migrate to the new format. It'll probably be a while in any case.

[2022-03-17 11:38] 3crow commented on #108
Thanks @anderspitman. Just making notes here in case they are useful to myself or anyone else later.
This morning my old clients are offline. So I am replacing them with the latest version.
If using Boring Proxy as a service you need to stop the serivce and then manually run BP so the cert can be setup (prompt for email). Then kill it and the services should run fine when started.

[2022-03-17 21:22] anderspitman commented on #108
@3crow sounds good. Note that there is a flag in newer versions of the client to let you set the cert email from the command line:

[code]

[2022-04-04 18:22] anderspitman opened #178 "The client always attempts to get certs, even when using ports other than 80/443"
See https://forum.indiebits.io/t/boring-proxy-trying-to-obtain-ssl-cert-even-with-behind-proxy-allow-http/99/9

[2022-04-28 00:36] retiolus commented on #158
So, how can we connect to an admin-domain that is not using ports 80/443?

[2022-04-29 21:24] anderspitman commented on #158
@retiolus I don't think this is currently possible. That would send a security cookie unencrypted over the internet, which is not a good idea. You need to either use the built-in TLS cert capabilities of boringproxy, or put it behind another reverse proxy which handles TLS termination.

[2022-05-02 12:25] matbgn commented on #15
For those stucking on this topic and until a nice out-of-the-box solution will be provided by BoringProxy, I recommand this well documented solution:

DISCLAIMER: very techy one

https://github.com/mochman/Bypass_CGNAT

[2022-05-08 20:19] ntt4 commented on #111
#179 Fixes this issue, however, I did drop support for ssh-rsa in the process. Removing ssh-rsa support does mean that tunnels will have to be re-created so that a new key is generated. This should work with openSSH 6.5 and above.

[2022-05-13 20:55] andrewdhastings commented on #113
I'm having the same issue, however, I'm using a raw DigitalOcean Ubuntu 20 server. DNS is pointing to the server from Namecheap. I can get a cert just fine with Caddy2, but for some reason when I try to run boringproxy it always errors out with this error:

obtaining certificate: [themodern.cloud] Obtain: [themodern.cloud] solving challenges: themodern.cloud: no solvers available for remaining cha

[2022-05-13 21:56] anderspitman commented on #113
@andrewdhastings pretty sure this is usually due to a firewall somewhere blocking port 443. Does boringproxy server print any warnings when it starts up? Have you verified that you can run another webserver on port 443 and have it accessed as expected?

[2022-05-13 22:50] andrewdhastings commented on #113
Sorry, looks like I'm just an idiot. I thought I was using bare ubuntu, but actually was using a docker setup. (normally my go-to)

Anyways, I just used the docker-compose options and everything is up and running.

[2022-05-24 00:40] alcroito opened #181 "How are ssh connections supposed to work"
Hi,

I'm trying to get boringproxy to work, but stumbled on failing ssh connections.
I'm using the project-provided docker-compose server file to run the server on Ubuntu 20.04.
I'm trying to connect using the client from a macOS machine.
server openssh is `OpenSSH_8.2p1 Ubuntu-4ubuntu0.4, OpenSSL 1.1.1g  21 Apr 2020`
client openssh is `OpenSSH_8.6p1, LibreSSL 2.8.3`

After adding a tunnel and sta

[2022-05-24 00:56] alcroito commented on #181
Using the entry that was added to the authorized_keys inside the container volume and copying it into my real authorized_keys file, made the manual tunnel work.
I have ssh disabled for the root user though, which meant I had to add it to my own user's authorized_keys.
Which user name does the client use to perform the ssh connection? Is it configurable?

[2022-05-24 13:18] almereyda commented on #181
I believe the Docker Compose setup is flawed, as it does not include the SSH server. The integration with a host system is at best risky.

Why I had to modify the existing configuration in `docker/server` to make it work purely on containers.

* [Docker setup relies on host mapped ports and OpenSSH being available on the host - boringproxy - IndieBits](https://forum.indiebits.io/t/docker-setup-rel

[2022-05-24 21:07] alcroito commented on #181
I don't see anything to download in the provided link.
Also, I don't see how it can help.
The issue is about the docker compose file for the server not editing the host ssh authorized_keys file, as well as which ssh user is used for establishing connections. I didn't get a reply on whether that's configurable.

If I manually add a generated private key to the the host authorized_keys, and also man

[2022-05-24 21:18] anderspitman commented on #181
Ah I missed that question. No the user is not configurable. It will always run as whatever user you start boringproxy server as. In the case of docker that's going to default to root. My recommendation would be to not run Docker as root, and find some way to map the user's ~/.ssh/authorized_keys file into the container, perhaps using a Docker mount.

Or just run boringproxy without Docker. It's de

[2022-05-24 21:21] #113 closed

[2022-05-24 21:54] alcroito commented on #181
I noticed that the docker compose example sets the USER env var https://github.com/boringproxy/boringproxy/blob/master/docker/server/docker-compose.yml#L15

That affects the user used for the ssh connection.

I tracked it down to
https://github.com/boringproxy/boringproxy/blob/master/tunnel_manager.go#L31 and
https://github.com/golang/go/blob/master/src/os/user/cgo_lookup_unix.go#L48

Some quick g

[2022-06-19 09:37] abulava commented on #13
@anderspitman I wonder why nobody asked you about [X-Forwarded-Proto](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto) header for years.

`boringproxy` (version v0.9.1) is quite useless without it, to be honest.

I set it up with `TLS Termination: server` on `boringproxy` for [debugging](https://developers.facebook.com/tools/debug) Open Graph markup in a Rails app and t

[2022-07-06 14:48] fopina commented on #163
I'm planning on a PR to add proxy support on SSH.

HTTP calls to the REST API already respect http_proxy/https_proxy so I'm adding support for that on the SSH connections as well using `golang.org/x/net/proxy`

Only thing that took me a bit longer to figure out was to be able to use HTTP CONNECT with that setup as it only supports SOCKS5 out of the box, but I have a PoC working now, so I'll be sub

[2022-07-07 06:44] fopina commented on #163
as I need to use SSH over an HTTP proxy at work, I've created https://github.com/boringproxy/boringproxy/pull/183 to tackle it. I believe it also solves this issue

[2022-07-07 10:34] almereyda commented on #171
In https://github.com/boringproxy/boringproxy/pull/174#issuecomment-1177213150 @fopina also suggests to consider cobra.dev, which appears to be some kind of canonical way for bootstrapping CLIs within the Golang world.

- https://github.com/spf13/cobra

[2022-07-20 11:40] vqoley opened #187 "client problem with v0.9.1"
im trying using client on windows with command

`./boringproxy-windows-x86_64.exe client -server trx2.mydomain.com -token BQtwrm62S9Fconig9bOLVvjP6dRYtMiq -client-name lils -user vqoley`

then i got respond:

`Failed to create client. Are the user ('vqoley') and token correct? HTTP Status code: 525. Message:
`
is that wrong what i doing?

[2022-07-24 01:40] vqoley opened #188 "REST API And Database"
Im looking for people can show me rest api url for curl, not source code also if developer can adjust code to create database for mysql because i want help do php administrator and user UI with by connecting API to mysql database. Im sorry i request this because i still new in python also doesn't anything about golang. I only expert in PHP, CSS, HTML and MYSQL and little JS.

[2022-07-25 12:13] almereyda commented on #188
This feels very off topic to Boring Proxy. Please try to find help in other online spaces dedicated to skill sharing, like StackOverflow. Good luck!

[2022-08-01 17:17] anderspitman opened #189 "Update website to make it clear that boringproxy requires at least one machine with a public IP"
See discussion here: https://forum.indiebits.io/t/do-i-need-a-public-ip-for-boringproxy/118/5

[2022-08-01 17:27] #188 closed

[2022-08-01 17:29] anderspitman commented on #171
I'm not entirely opposed to taking on cobra as a dependency. Mostly it's just quite a bit of work to do.

[2022-08-01 17:52] vqoley commented on #188
I don't think you understand my question. I not mention boringproxy on there not meaning its off topic. Why should i go stackoverflow? What i request is REST api (not source) from this project. Because i want help/support this project by creating full admin and client web UI. Its like user can register, reset password, notification, telegram bot and more based of this API. About database it will c

[2022-08-01 19:12] anderspitman commented on #188
Hey @vqoley, I understand your request better now. Unfortunately, while boringproxy does have a programmable API, it's not currently encouraged for other developers to use it, since it is unstable and may change a lot. Also, there's no documentation for it.

I think boringproxy probably is too immature of a project for what you're trying to accomplish. I'd recommend trying to find something that's

[2022-08-04 12:30] almereyda commented on #171
I might be able to volunteer with this when restarting efforts for https://github.com/boringproxy/boringproxy.io/pull/14

It seems this is basically maintenance work that doesn't need to imply a lot of new logic to the core components.

And it will make my use case, deploying boringproxy, a lot easier.

[2022-08-22 20:03] dguber-axle opened #190 "Tunneling issue, redirecting to local IP"
Hello,

I'm having the following issue:
I try to access my web app threw the reverse proxy and the first request gets passed through okay.
The problem is that the second and following requests which bring some CSS files and JS files get rewritten their address to "127.0.0.1" and it breaks the tunneling.

Is this an issue of boringproxy or a configuration issue of my web server?

Thanks.

[2022-08-22 21:25] coder0987 commented on #190
Hello @dguber-axle ,
I believe it is a boringproxy issue since I am facing it as well (see [the Indie Bits forum](https://forum.indiebits.io/t/redirect-to-127-0-0-1-using-boringproxy-with-nextcloud-dokuwiki-collabora-online-revive-adserver-and-others/148/4) )

My current guess would be that boringproxy fails to set the Host header
This is reinforced by the Nextcloud Android app crashing with error

[2022-08-22 22:15] dguber-axle commented on #190
Hey @coder0987

Thanks, it looks like with Client Raw TLS it doesn't replace the URL but some stuff try to get loaded from HTTP and it isn't forcing them to be loaded from HTTPS.
So maybe I'll have to manually edit some scripts.

Thanks.

[2022-08-22 22:23] coder0987 commented on #190
No problem.
As a temporary fix, try using [HTTPS Everywhere](https://www.eff.org/https-everywhere)
I was having the same issue with it redirecting to HTTP pages. Let me know what you find out

[2022-08-22 22:45] dguber-axle commented on #190
Great, it worked that way temporary!
But I'd like to find a proper solution.

Thanks!

[2022-08-23 20:44] anderspitman commented on #190
Yeah we've had issues with redirects in the past. Do you have a simple app that I can self-host with my own boringproxy to try and debug this?

[2022-08-24 13:35] dguber-axle commented on #190
Hello @anderspitman,

I don't have a simple app that you can host, but we could get in contact via Skype or email and I can show you the issue on my set up if you'd like.

Thanks.

[2022-08-25 02:31] mfitzgerald2 commented on #190
I had the same issue with a WordPress site using a standard LAMP stack if that is any help, probably would be easier to fire up via Docker or in a VM

Seems like I could get it to go to the pages on the frontend through the TLS passthrough but it would freak out when I tried to hit /wp-admin

Happy to help any way I can

[2022-08-25 20:37] coder0987 commented on #190
You could try hosting [DokuWiki on docker](https://github.com/linuxserver/docker-dokuwiki)
Anytime you log in or save it redirects to localhost

[2022-08-30 02:09] coder0987 commented on #190
A note for anyone using DokuWiki:
There is a configuration option in the site settings described [[https://www.dokuwiki.org/config:baseurl|here]]
Go to https://wiki.example.com/doku.php?id=start&do=admin&page=config and set the baseurl value to https://wiki.example.com (no slash)
This seems to have solved the problem for DokuWiki, but Nextcloud for Android still is not working

[2022-09-06 09:55] Molnfront opened #191 "inkscape: command not found"
I am trying to build it on Mac M1 and got:

./scripts/generate_logo.sh: line 6: inkscape: command not found

[2022-09-06 10:16] Molnfront opened #192 "setcap"
Is there something like setcap for macOS?

In the instructions I have to bind low ports:
Give the executable permission to bind low ports (ie 80/443):

sudo setcap cap_net_bind_service=+ep boringproxy

Do I need to bind to low ports?

[2022-09-09 22:33] upsetbit commented on #191
@Molnfront you have two options:
1. Download inkspace (if you have brew available, `brew install --cask inkscape` will do); it should work but I think for most uses is overkill
2. Make a copy of `logo_default.png` and name it `logo.png` (at the root directory of this project)

[2022-09-14 21:12] anderspitman commented on #192
Hey @Molnfront, sorry just getting back from vacation/holiday. I don't personally use MacOS, so not sure about this. Does it give you an error message if you try to bind to 80/443?

[2022-09-19 21:03] tunavis opened #193 "Styling and capturing device metric details"
Please request features over at https://forum.indiebits.io/c/boringproxy/9

good day is it possible to make some changes to the css frontend and also interation to monitor the devices that has a tunnelled connection?

[2022-09-20 16:02] anderspitman commented on #193
Please see https://forum.indiebits.io/t/styling-and-metrics/157

[2022-09-20 16:02] #193 closed

[2022-09-25 23:05] almereyda commented on #111
It appears other people were struggling as well with generating ed25519 keys with Go. Their solutions might provide an implementation path for generating ed25519 keys:

* https://stackoverflow.com/questions/71850135/generate-ed25519-key-pair-compatible-with-openssh
* https://pkg.go.dev/crypto/ed25519#GenerateKey
* https://gist.github.com/rorycl/d300f3ab942fd79e6cc1f37db0c6260f
* https://github.com

[2022-09-27 17:42] #111 closed

[2022-09-27 18:08] anderspitman commented on #190
Sorry for the long delay. Busy summer but a good one! I have more time for boringproxy now.

I've reviewed your reports and the code. I believe I understand now why `Client Raw TLS` partially solves the problem. Basically it causes the `Host` header to be passed through from the original request, whereas `Client HTTPS` and `Server HTTPS` always set the host to the IP address. I have a fix in for t

[2022-09-28 14:28] anderspitman commented on #191
Note that `logo.png` has now been added directly to the repo, so this shouldn't be a problem after the next release.

[2022-09-29 12:52] matbgn commented on #18
Hi @anderspitman I just came accross this issue as this is still an... Issue for me and I also think for person in general who would like to jump in self-hosting world.

You asked:

To have more details, you can simply look at our discussion on the forum:

https://forum.indiebits.io/t/feature-proposal-wild-card-forwarding-on-a-subdomain-80-443-traffic-e-g-with-caprover/106

It

[2022-10-13 10:15] wzwg3 commented on #163
Hey, tried to follow your advice to open a TLS tunnel on port 2022 and route all client SSH tunnels through localhost:2022.

Opening a tunnel with
[code]
I get `Listening on port 2022` - seems OK.

Then running the boringproxy client with a tunnel that uses `"server_address":"localhost","server_port":2022` we get
`BoreTunnel error:  Failed to dial: ssh: handshake failed: ssh: unable to authenticat

[2022-10-13 17:40] anderspitman commented on #163
Hey @wzwg3. The tuntls functionality is not heavily tested. I just hacked it together since it seemed like a tool that might be useful. You say a normal tunnel is working ok? Is there a reason you want to use tuntls in that case? Can you clarify your overall goal?

Thanks!

[2022-10-14 05:29] wzwg3 commented on #163
We have a firewall that blocks SSH traffic. So the idea was to use a TLS tunnel between client and server (the tuntls tunnel) and route the SSH tunnel between boringproxy client and server through this tunnel.

[2022-10-16 01:29] goldalworming opened #195 "Is it possible to access proxy on another local computer"
Hi, is it possible to connect proxy from tunneling

proxy usually use server
pc1 --> proxy[server] --> domain

I need to put proxy behind tunneling

pc1 --> tunneling[server] --> proxy[pc2] --> domain

proxy used as middleman to mimick all connection so I can change myip dynamically to private ip

[2022-10-20 23:05] matbgn commented on #15
Hi @anderspitman,

I hope your holidays were funny and restful. ;-)

Did you have some time to elaborate a bit your ideas about certmagic's TLS on demand?

[2022-10-23 21:45] TebbaaX commented on #120
Getting the same Error Running the Client on Ubuntu (WSL)
- Running OpenSSH_8.2p1 Ubuntu-4ubuntu0.5, OpenSSL 1.1.1f  31 Mar 2020
- Running on the server on Digital Ocean VPS / Namecheap (Works well.)

is there something i'm missing? (Same error when running the Windows version)
![error](https://user-images.githubusercontent.com/58398485/197419703-46440ae3-8e44-4113-a98f-b1a4e0b2e980.PNG)

[2022-10-23 21:45] TebbaaX opened #196 "ssh error."
Getting the same Error Running the Client on Ubuntu (WSL)
- Running OpenSSH_8.2p1 Ubuntu-4ubuntu0.5, OpenSSL 1.1.1f  31 Mar 2020
- Running on the server on Digital Ocean VPS / Namecheap (Works well.)

is there something i'm missing? (Same error when running the Windows version)
![error](https://user-images.githubusercontent.com/58398485/197419703-46440ae3-8e44-4113-a98f-b1a4e0b2e980.PNG)

_Origina

[2022-10-23 23:42] anderspitman commented on #196
Hey @TebbaaX, support is now handled at https://forum.indiebits.io/. You can log in there with your GitHub account.

Thanks,
//anders

[2022-10-23 23:42] #196 closed

[2022-10-23 23:43] anderspitman commented on #195
Hi @goldalworming, support is now provided at https://forum.indiebits.io/. You can log in there with your GitHub account.

Thanks,
//anders

[2022-10-23 23:43] #195 closed

[2022-10-26 18:21] anderspitman commented on #190
I'm going to go ahead and merge this into master, since I'm fairly confident the fix is needed, even if there are other problems keeping this issue open.

[2022-11-08 02:02] matbgn commented on #111
Does not completely solve the problem for me (Ubuntu 22.04)...

After creating a first tunnel successfully, the second failed as described here.

[2022-11-25 12:46] m42e commented on #41
From my side I can confirm that the problem is still existing, experiencing it as well.